.benefit p
{
    color: #545454;
}

.benefit h3
{
    font-family: "CORBEL BOLD";
    padding-top: 55px;
    font-size: 16px;
    color: #545454;
}

h1
{
    font-family: "CORBEL";
    font-size: 24px;
    color: #545454;
}

p,a,ul,h3 {
    margin: 0;
    font-family: "CORBEL";
    line-height: 1.0;
}

.additional-info-block a {
    display: block;
}

p.lightgray,li
{
    color: #545454;
}

.additional-info-block h3 {
    font-family: "BEBAS NEUE CYRILLIC";
    line-height: 1.0;
    margin-top: 13px;
    font-size: 36px;
    display: block;
    padding-left: 47px;
}

/***********************/
.benefits
{
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
}

body {
    padding: 10px;
    max-width: 1100px;
    margin: auto;
}

.benefit
{ 
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 45px;
    display:inline-block;
    margin: auto;
}

.additional-info-block
{
    position:relative;
    box-sizing: border-box;
    border: 3px solid white;
    background-position: 14px 13px;
    background-color: green;
    height: 180px;
    background-size: 30px auto;
    background-repeat: no-repeat !important;
    /*padding-left: 40px !important;*/
    color: #fff;
}

@font-face {
  font-family: "BEBAS NEUE CYRILLIC";
  src: url("../fonts/BEBAS-NEUE-CYRILLIC.TTF") format("truetype");
}

@font-face {
  font-family: "CORBEL";
  src: url("../fonts/CORBEL.TTF") format("truetype");
}

@font-face {
  font-family: "CORBEL BOLD";
  src: url("../fonts/CORBELB.TTF") format("truetype");
}

.moreinfo
{
    padding-left: 12px;
    font-family: "CORBEL BOLD";
    text-decoration-line: none;
    position:absolute;
    bottom: 5px;
    left: 5px;
    display: inline-block;
    line-height: 1.5;
}


.moreinfo:before {
    content: "";
    display: block;
    background: url("../icons/arrow-right.png") no-repeat;
    background-position: 80% 50%;
    background-size: 20px 20px;
    width: 30px;
    height: 20px;
    float: right;
}

/* url("../fonts/CORBEL.TTF") format("ttf") */

/* .moreinfo:before */
/* { */
/*     background-position: center; */
/*     content: ""; */
/*     background-image: url("../icons/arrow-right.png"); */
/*     background-repeat: no-repeat; */
/*     background-size: 20px 20px; */
/*     width: 23px; */
/*     height: 20px; */
/*     float: right; */
/* } */


