{{ define "main" }}
<div class="breadcrumbs">
    <a href="/">Главная</a>
    <a> &gt Наши услуги</a>
</div>

<div class="service-container">
    <a></a>
    <div class="service-menu">
	{{ $servicemenu := .Site.RegularPages}}
	{{ $curaddress := .RelPermalink}}
	{{ range $servicemenu}}
	{{ if eq .Type "single_service" }}
	<a {{ if findRE $curaddress .RelPermalink }} class="active" {{ end }}href="{{ .RelPermalink }}">{{ .Name }} </a>
	{{ end }}
	{{ end }}
    </div>

    <div class="services">

	<div class="service">
	    <h1>{{ .Title }}</h1>
	    {{ .Content }}
	    <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
		{{ $galleryimages := .Resources.Match "*.jpg" }}
		{{ range $galleryimages }}
		{{ $thumbnail := .Fill "120x120" }}
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		    <a itemprop="contentUrl" href="{{ .Name }}">
			{{ $newReplacement := replaceRE "^/service/" "./" $thumbnail.RelPermalink }}
			<img title="{{ .Name }}" itemprop="thumbnail" src="{{ $newReplacement }}"/>
		    </a>
		</figure>
		{{ end }}
	    </div>
	</div>
	
	<div class="cycle">
	    <h1 style="text-align: center">К вашим услугам полный цикл работ</h1>
	    <div class="w3-row-padding">
		<div class="w3-third"> <a style="background-image: url('../icons/polnyi-cicl-rabot/zamery.png')">Замеры и дизайн</a></div>
		<div class="w3-third"> <a style="background-image: url('../icons/polnyi-cicl-rabot/izgotovlenie.png')">Изготовление продукции</a></div>
		<div class="w3-third"> <a style="background-image: url('../icons/polnyi-cicl-rabot/dostavka.png')">Доставка и монтаж</a></div>
	    </div>
	</div>
	
    </div>
    
</div>

{{ end }}
