{{ define "main" }}
<div class="breadcrumbs">
    <a href="/">Главная</a>
    <a> &gt; Наши услуги</a>
</div>
{{ $single_services := (where .Site.RegularPages "Type" "single_service") }}

<div class="service-container">
    <div class="service-menu">
	{{ $curaddress := .RelPermalink }}
	{{ range $single_services }}
	<!-- [html-validate-disable-next attr-case,attr-spacing,no-dup-attr] -->
	<a {{ if findRE $curaddress .RelPermalink }}class="active"{{ end }} href="{{ .RelPermalink }}">{{ .Name }} </a>
	{{ end }}
    </div>

    <div class="services">

	{{ range $single_services }}
	<!-- [html-validate-disable-next attr-case,attr-spacing,no-dup-attr] -->
	<div {{ if findRE $curaddress .RelPermalink }}style="display:inline-block" {{end}}class="service">
	    <h1>{{ .Title }}</h1>
	    {{ .Content }}
	    {{ if findRE $curaddress .RelPermalink }}
	    <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
		{{ $galleryimages := .Resources.Match "*.jpg" }}
		{{ range $galleryimages }}
		{{ $thumbnail := .Fill "120x120" }}
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		    <a itemprop="contentUrl" href="{{ .Name }}">
			{{ $newReplacement := replaceRE "^/service/" "./" $thumbnail.RelPermalink }}
			{{ $name := replaceRE "\\.jpe?g$" "" .Name }}
			<img alt="{{ $name }}" title="{{ $name }}" itemprop="thumbnail" src="{{ $newReplacement }}">
		    </a>
		</figure>
		{{ end }}
	    </div>
	    {{end}}
	</div>
	{{ end }}
	
	<div class="cycle">
	    <h1 style="text-align: center">К вашим услугам полный цикл работ</h1>
	    <div class="w3-row-padding">
		<div class="w3-third"> <a style="background-image: url('../icons/polnyi-cicl-rabot/zamery.png')">Замеры и дизайн</a></div>
		<div class="w3-third"> <a style="background-image: url('../icons/polnyi-cicl-rabot/izgotovlenie.png')">Изготовление продукции</a></div>
		<div class="w3-third"> <a style="background-image: url('../icons/polnyi-cicl-rabot/dostavka.png')">Доставка и монтаж</a></div>
	    </div>
	</div>
            </div>


    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

	<!-- Background of PhotoSwipe. 
	     It's a separate element as animating opacity is faster than rgba(). -->
	<div class="pswp__bg"></div>

	<!-- Slides wrapper with overflow:hidden. -->
	<div class="pswp__scroll-wrap">

	    <!-- Container that holds slides. 
		 PhotoSwipe keeps only 3 of them in the DOM to save memory.
		 Don't modify these 3 pswp__item elements, data is added later on. -->
	    <div class="pswp__container">
		<div class="pswp__item"></div>
		<div class="pswp__item"></div>
		<div class="pswp__item"></div>
	    </div>

	    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
	    <div class="pswp__ui pswp__ui--hidden">

		<div class="pswp__top-bar">

		    <!--  Controls are self-explanatory. Order can be changed. -->

		    <div class="pswp__counter"></div>

		    <button type="button" class="pswp__button pswp__button--close" title="Close (Esc)"></button>

		    <button type="button" class="pswp__button pswp__button--share" title="Share"></button>

		    <button type="button" class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

		    <button type="button" class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

		    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
		    <!-- element will get class pswp__preloader--active when preloader is running -->
		    <div class="pswp__preloader">
			<div class="pswp__preloader__icn">
			    <div class="pswp__preloader__cut">
				<div class="pswp__preloader__donut"></div>
			    </div>
			</div>
		    </div>
		</div>

		<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
		    <div class="pswp__share-tooltip"></div> 
		</div>

		<button type="button" class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
		</button>

		<button type="button" class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
		</button>

		<div class="pswp__caption">
		    <div class="pswp__caption__center"></div>
		</div>

	    </div>

	</div>

            </div>

    
</div>

<script>
 // changing links
 function js_enabled() {
     var menu_items = document.querySelectorAll('.service-menu > a');
     for(var i = 0;i < menu_items.length;i++)
     {
	 i++;
	 var onclick = 'choose_service('+i+')';
	 i--;
	 menu_items[i].setAttribute('onclick',onclick);
	 menu_items[i].setAttribute('href','javascript:void(0)');
     }
 }
 // is current browser IE 6-11 [detection by feature]
 var isIE = /*@cc_on!@*/false || !!document.documentMode;
 if (!isIE) {
     js_enabled();
     
     var all_galleries = [
	 {{ range $single_services}}
	 [
	     {{ $galleryimages := .Resources.ByType "image" }}
	     {{ range $galleryimages }}
	     {{ $thumbnail := .Fill "120x120" }}
	     [
		 '{{ .RelPermalink }}',
		 '{{ replaceRE "^/service/" "./" $thumbnail.RelPermalink }}',
		 '{{ .Width }}x{{ .Height }}',
		 '{{ replaceRE "\\.jpe?g$" "" .Name }}'
	     ],
	     {{ end }}
	 ],
	 {{ end }}
     ];

     var service_rel_links = [
	 {{ range $single_services}}
	 '{{ .RelPermalink }}',
	 {{ end }}
     ]
     
     var initPhotoSwipeFromDOM = function(gallerySelector) {
	     
	     // parse slide data (url, title, size ...) from DOM elements 
	     // (children of gallerySelector)
	 var parseThumbnailElements = function(el) {
             var thumbElements = el.childNodes,
		 numNodes = thumbElements.length,
		 items = [],
		 figureEl,
		 linkEl,
		 size,
		 item;
	     
             for(var i = 0; i < numNodes; i++) {
		 figureEl = thumbElements[i]; // <figure> element
		 
		 // include only element nodes 
		 if(figureEl.nodeType !== 1) {
                     continue;
		 }
		 
		 linkEl = figureEl.children[0]; // <a> element
		 
		 size = linkEl.getAttribute('data-size').split('x');
		 
		 // create slide object
		 item = {
                     src: linkEl.getAttribute('href'),
                     w: parseInt(size[0], 10),
                     h: parseInt(size[1], 10)
		 };
		 
		 
		 
		 if(figureEl.children.length > 1) {
                     // <figcaption> content
                     item.title = figureEl.children[1].innerHTML; 
		 }
		 
		 if(linkEl.children.length > 0) {
                     // <img> thumbnail element, retrieving thumbnail url
                     item.msrc = linkEl.children[0].getAttribute('src');
		 } 
		 
		 item.el = figureEl; // save link to element for getThumbBoundsFn
		 items.push(item);
             }
	     
             return items;
	 };
	 
	 // find nearest parent element
	 var closest = function closest(el, fn) {
             return el && ( fn(el) ? el : closest(el.parentNode, fn) );
	 };
	 
	 // triggers when user clicks on thumbnail
	 var onThumbnailsClick = function(e) {
             e = e || window.event;
             e.preventDefault ? e.preventDefault() : e.returnValue = false;
	     
             var eTarget = e.target || e.srcElement;
	     
             // find root element of slide
             var clickedListItem = closest(eTarget, function(el) {
		 return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
             });
	     
             if(!clickedListItem) {
		 return;
             }
	     
             // find index of clicked item by looping through all child nodes
             // alternatively, you may define index via data- attribute
             var clickedGallery = clickedListItem.parentNode,
		 childNodes = clickedListItem.parentNode.childNodes,
		 numChildNodes = childNodes.length,
		 nodeIndex = 0,
		 index;
	     
             for (var i = 0; i < numChildNodes; i++) {
		 if(childNodes[i].nodeType !== 1) { 
                     continue; 
		 }
		 
		 if(childNodes[i] === clickedListItem) {
                     index = nodeIndex;
                     break;
		 }
		 nodeIndex++;
             }
	     
	     
	     
             if(index >= 0) {
		 // open PhotoSwipe if valid index found
		 openPhotoSwipe( index, clickedGallery );
             }
             return false;
	 };
	 
	 // parse picture index and gallery index from URL (#&pid=1&gid=2)
	 var photoswipeParseHash = function() {
             var hash = window.location.hash.substring(1),
		 params = {};
	     
             if(hash.length < 5) {
		 return params;
             }
	     
             var vars = hash.split('&');
             for (var i = 0; i < vars.length; i++) {
		 if(!vars[i]) {
                     continue;
		 }
		 var pair = vars[i].split('=');  
		 if(pair.length < 2) {
                     continue;
		 }           
		 params[pair[0]] = pair[1];
             }
	     
             if(params.gid) {
		 params.gid = parseInt(params.gid, 10);
             }
	     
             return params;
	 };
	 
	 var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
             var pswpElement = document.querySelectorAll('.pswp')[0],
		 gallery,
		 options,
		 items;
	     
             items = parseThumbnailElements(galleryElement);
	     
             // define options (if needed)
             options = {
		 
		 // define gallery index (for URL)
		 galleryUID: galleryElement.getAttribute('data-pswp-uid'),
		 
		 getThumbBoundsFn: function(index) {
                     // See Options -> getThumbBoundsFn section of documentation for more info
                     var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
			 pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
			 rect = thumbnail.getBoundingClientRect(); 
		     
                     return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
		 }
		 
             };
	     
             // PhotoSwipe opened from URL
             if(fromURL) {
		 if(options.galleryPIDs) {
                     // parse real index when custom PIDs are used 
                     // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                     for(var j = 0; j < items.length; j++) {
			 if(items[j].pid == index) {
                             options.index = j;
                             break;
			 }
                     }
		 } else {
                     // in URL indexes start from 1
                     options.index = parseInt(index, 10) - 1;
		 }
             } else {
		 options.index = parseInt(index, 10);
             }
	     
             // exit if index not found
             if( isNaN(options.index) ) {
		 return;
             }
	     
             if(disableAnimation) {
		 options.showAnimationDuration = 0;
             }
	     
             // Pass data to PhotoSwipe and initialize it
             gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
             gallery.init();
	 };
	 
	 // loop through all gallery elements and bind events
	 var galleryElements = document.querySelectorAll( gallerySelector );
	 
	 for(var i = 0, l = galleryElements.length; i < l; i++) {
             galleryElements[i].setAttribute('data-pswp-uid', i+1);
             galleryElements[i].onclick = onThumbnailsClick;
	 }
	 
	 // Parse URL and open gallery if it contains #&pid=3&gid=1
	 var hashData = photoswipeParseHash();
	 if(hashData.pid && hashData.gid) {
             openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
	 }
     };
     
     function findGetParameter(parameterName) {
	 var result = null,
             tmp = [];
	 location.search
		 .substr(1)
		 .split("&")
		 .forEach(function (item) {
		     tmp = item.split("=");
		     if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
		 });
	 return result;
     }
     
     document.addEventListener('DOMContentLoaded', function() {
	 if (findGetParameter("index"))
	     choose_service(parseInt(findGetParameter("index"))); 
	 else  choose_service(1); 
     }, false);
     
     function choose_service(n) {
	 var i;
	 var services = document.querySelectorAll(".service, .service-subjects-only");
	 var menu_items = document.querySelectorAll(".service-menu a");
	 if (n > services.length) n = 1;
	 if (n < 1) n = services.length;
	 for (i = 0; i < services.length; i++) {
	     services[i].style.display = "none";
	 }
	 for (i = 0; i < menu_items.length; i++) {
	     menu_items[i].className = menu_items[i].className.replace(/ ?active ?/, "");
	 }
	 services[n-1].style.display = "inline-block";
	 menu_items[n-1].className += " active";
	 
	 // code for gallery
	 var old_gallery = document.getElementsByClassName("my-gallery")[0];
	 if (old_gallery) {
	     old_gallery.style.display = "none";
	 }
	 
	 var id_of_gallery_tobe_displayed = "gallery_number_"+n;
	 
	 var new_gallery_container = document.createElement('div');
	 new_gallery_container.setAttribute("itemscope","");
	 new_gallery_container.setAttribute("itemtype","http://schema.org/ImageGallery");
	 new_gallery_container.setAttribute("class","my-gallery");
	 new_gallery_container.id = id_of_gallery_tobe_displayed;
	 
	 if (all_galleries[n-1] && !document.getElementById(id_of_gallery_tobe_displayed)) {
	     
	     for (let i = 0; i < all_galleries[n-1].length; i++) {
		 let figuretmp = document.createElement('figure');
		 figuretmp.setAttribute("itemscope","");
		 figuretmp.setAttribute("itemtype","http://schema.org/ImageObject");
		 figuretmp.setAttribute("class","image");
		 
		 let atmp = document.createElement('a');
		 atmp.setAttribute("href",all_galleries[n-1][i][0]);
		 atmp.setAttribute("itemprop","contentUrl");
		 atmp.setAttribute("data-size",all_galleries[n-1][i][2]);
		 
		 let imgtmp = document.createElement('img');
		 imgtmp.setAttribute("title",all_galleries[n-1][i][3]);
		 imgtmp.setAttribute("src",all_galleries[n-1][i][1]);
		 imgtmp.setAttribute("itemprop","thumbnail");
		 
		 atmp.appendChild(imgtmp);
		 figuretmp.appendChild(atmp);
		 
		 new_gallery_container.appendChild(figuretmp);
	     }
	     
	     services[n-1].appendChild(new_gallery_container);
	     // execute above function
	     initPhotoSwipeFromDOM('.my-gallery');
	 }
	 if(document.getElementById(id_of_gallery_tobe_displayed))
	     document.getElementById(id_of_gallery_tobe_displayed).style.display = "flex"; 
	 var rellink = service_rel_links[n];
	 console.log(rellink);
	 window.history.pushState('', 'New Page Title', `${rellink}`);
     }
     
     ///////////////////////// GALLERIES
 }
</script>
<!-- SWIPE GALLERY -->

<!-- Core JS file -->
<script src="/photoswipe/photoswipe.min.js"></script> 

<!-- UI JS file -->
<script src="/photoswipe/photoswipe-ui-default.min.js"></script> 

<!-- SWIPE GALLERY END -->


{{ end }}
