<footer>
  <div>
    <ul>
      <li>Услуги и продукция</li>
      <li>Широкоформатная печать</li>
      <li>Оперативная полиграфия</li>
      <li>Лазерная резка и гравировка</li>
      <li>Наружняя реклама</li>
      <li>Интерьерная реклама</li>
      <li>Брендирование одежды</li>
      <li>Стенды</li>
      <li>Сувениры </li>
      <li>Награды</li>
    </ul>    
  </div>

  <div>
    <ul>
      <li>&nbsp;</li>
      <li>Медали</li>
      <li>Медальницы</li>
      <li>Вымпелы</li>
      <li>Патчи, нашивки</li>
      <li>Шевроны</li>
      <li>Таблички</li>
      <li>Стенды</li>
      <li>Визитки</li>
      <li>Грамоты, дипломы</li>
    </ul>

  </div>

  <address class="telephone-footer"><p>8 /7282/ 24-14-76<br>Пн-Пт: 9.30-18.00<br>Сб: 9.30-13.00</p></address>
  
  <address class="social">
    {{- partial "social.html" . -}}
  </address>

  
  
    <!-- <table style="display: inline-block;table-layout: fixed; padding: 0; line-height: 1; margin: 0" class="social"> -->
    <!--   <tr> -->
    <!-- 	<td style="width: 30px"><img style="width: 25px" src="/icons/watsap.png"/></td><td>+7 705 7001522<br>+7 708 184 5737</td> -->
    <!--   </tr> -->
    <!--   <tr> -->
    <!-- 	<td><img src="/icons/insta.png"/></td><td><a href="https://instagram.com/gorizont_tdk">gorizont_tdk</a></td> -->
    <!--   </tr> -->
      
    <!--   <tr> -->
    <!--   	<td><img src="/icons/pochta.png"/></td><td><a href="mailto: gorisont_ds@inbox.ru">gorisont_ds@inbox.ru</a></td> -->
    <!--   </tr> -->

    <!--   </table> -->

</footer>
