<div class="header">
  <img style="width: 20%;height: auto;display: inline-block;" src="/logo.png"/>
  <div class="contacts w3-row-padding">
    <div class="address w3-third"><p>Республика Казахстан<br>г. Талдыкорган<br>ул. Абылай хана, 157</p></div>
    <div class="telephone w3-third"><p>8 /7282/ 24-14-76<br>Пн-Пт: 9.30-18.00<br>Сб: 9.30-13.00</p></div>

    <!-- <div class="social w3-third"> -->
    <!--   <p style="display:block;" class="instagram">gorizont_tdk</p> -->
    <!--   <p style="display:block;" class="whatsapp">+7 705 7001522 +7 708 184 5737</p> -->
    <!--   <p style="display:block;" class="post">gorisont_ds@inbox.ru</p> -->
    <!-- </div> -->
    
    <table style="table-layout: fixed; padding: 0; line-height: 1; margin: 0" class="social w3-third">
      <tr>
	<td style="width: 30px"><img style="width: 25px" src="/icons/watsap.png"/></td><td>+7 705 7001522<br>+7 708 184 5737</td>
      </tr>
      <tr>
	<td><img src="/icons/insta.png"/></td><td>gorizont_tdk</td>
      </tr>
      
      <tr>
      	<td><img src="/icons/pochta.png"/></td><td>gorisont_ds@inbox.ru</td>
      </tr>

      </table>
  </div>
</div>
