<head>
    {{ with .Description }}
    <meta name="description" content="{{.}}" />
    {{ end }}
    <link rel="shortcut icon" href="/favicon.png">
    <script src="/modernizr-webp-detection.js"></script>
    <script>document.documentElement.classList.remove("no-js");</script>


    <!-- Yandex.Metrika counter -->
     <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	 m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
     
     ym(84841045, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/84841045" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Page.Title }}{{ end }}

    {{ if not .IsHome }}
    <!-- Core CSS file -->
    <link rel="stylesheet" href="/photoswipe/photoswipe.css"> 

    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
	 In the folder of skin CSS file there are also:
       - .png and .svg icons sprite, 
       - preloader.gif (for browsers that do not support CSS animations) -->
    <link rel="stylesheet" href="/photoswipe/default-skin/default-skin.css"> 
    {{ end }}

    <title>{{ $title }}</title>
</head>
