
<header itemscope itemtype="https://schema.org/LocalBusiness">
    <a class="logo" href="/index.html"> <img alt="" style="max-width: 100%;height: auto;" src="/logo.svg"/></a>
    <!-- <div class="contacts w3-row-padding"> -->
    <meta content="Дизайн-студия Горизонт" itemprop="name"/>
    <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" class="address">
	<p>Республика <span itemprop="addressCountry">Казахстан</span>
	    <br/>г. <span itemprop="addressLocality">Талдыкорган</span>
	    <br/><span itemprop="streetAddress">ул. Абылай хана, 157</span></p>
    </div>
    
    <link itemprop="sameAs" href="https://instagram.com/gorizont_tdk"/>

    <address class="telephone">
	<p>
	    <span itemprop="telephone">8 /7282/ 24-14-76</span>
	    <!-- <meta itemprop="openingHours" content="Mo,Tu,We,Th,Fr 09:30-18:00"> -->
	    <br/><span itemprop="openingHours" content="Mo-Fr 09:30-18:00">Пн-Пт: 9.30-18.00</span>
	    <br/><span itemprop="openingHours" content="Sa 09:30-13:00">Сб: 9.30-13.00</span>
	</p>
    </address>
    <address class="social">
	{{- partial "social.html" . -}}
    </address>
    <!-- </div> -->
</header>
