  <div class="tooltip">
    <span class="tooltiptext"><a href="mailto:gorisont_ds@inbox.ru">gorisont_ds@inbox.ru</a></span>
    <a href="mailto:gorisont_ds@inbox.ru">
	<picture>
	    <source srcset="/icons/pochta.webp" type="image/webp">
	    <img alt="почта: gorisont_ds@inbox.ru" src="/icons/pochta.png">
	</picture>
    </a>
  </div>
  
  <div class="tooltip">
    <span class="tooltiptext"><a href="https://instagram.com/gorizont_tdk">gorizont_tdk</a></span>
    <a href="https://instagram.com/gorizont_tdk">
	<picture>
	    <source srcset="/icons/insta.webp" type="image/webp">
	    <img alt="instagram: gorizont_tdk" src="/icons/insta.png">
	</picture>
    </a>
  </div>
  
  <div class="tooltip">
    <span class="tooltiptext">
      <a href="https://api.whatsapp.com/send?phone=77057001522&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!">+7 705 700 1522</a>
      <a href="https://api.whatsapp.com/send?phone=77081845737&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!">+7 708 184 5737</a></span>

    <picture>
	<source srcset="/icons/watsap.webp" type="image/webp">
	<img alt="whatsapp: +7 705 700 1522; +7 708 184 5737" src="/icons/watsap.png">
    </picture>
  </div>
  
<!-- <div class="tooltip">Hover over me -->
<!--   <span class="tooltiptext">Tooltip text</span> -->
<!-- </div> -->
