<table class="social">
  <tr>
    <td style="width: 30px"><img style="width: 25px" src="/icons/watsap.png"/></td><td>+7 705 700 1522<br>+7 708 184 5737</td>
  </tr>
  <tr>
    <td><img src="/icons/insta.png"/></td><td><a href="https://instagram.com/gorizont_tdk">gorizont_tdk</a></td>
  </tr>
  
  <tr>
    <td><img src="/icons/pochta.png"/></td><td><a href="mailto: gorisont_ds@inbox.ru">gorisont_ds@inbox.ru</a></td>
  </tr>

</table>

<div class="social-mobile">
  <img src="/icons/pochta.png"/>
  <img src="/icons/insta.png"/>
  <img src="/icons/watsap.png"/>
</div>
