{{ define "main" }}
<!-- <h1 class="title">{{ .Site.Title }}</h1> -->
<!-- <a> -->
<!--   {{ .Content }} -->
<!-- </a> -->

<!-- SLIDESHOW -->
<!-- Slideshow container -->

<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    
    <div class="mySlides fade">
	<div class="text-container">
	    <p class="slideshow-dark-text">Изготовление сувенирной,<br>наградной&nbsp;<br class="maybe-hidden">и бизнес-продукции&nbsp;<br class="maybe-hidden">на заказ</p>
	    <p class="slideshow-light-text">Медали, статуэтки, вымпелы<br>Сувениры, подарки, награды<br>Лазерная резка<br>Гравировка</p>
	</div>
	<picture>
	    <source type="image/webp" srcset="/slideshow/images/ciferblat.webp"/>
	    <img src="/slideshow/images/ciferblat.png"/>
	</picture>
    </div>

    <div class="mySlides fade">
	<div class="text-container">
	    <p class="slideshow-dark-text">Наружная и&nbsp;<br class="maybe-hidden">интерьерная реклама&nbsp;<br>Широкоформатная печать</p>
	    <p class="slideshow-light-text">Изготовление стендов, табличек, баннеров<br>Печать на оракале, виниле, фотобумаге<br>Распечатка чертежей, схем</p>
	</div>
	<picture>
	    <source type="image/webp" srcset="/slideshow/images/naruzh.webp"/>
	    <img src="/slideshow/images/naruzh.png"/>
	</picture>
    </div>

    <div class="mySlides fade">
	<div class="text-container">
	    <p class="slideshow-dark-text">Цифровая&nbsp;<br>оперативная&nbsp;<br>печать</p>
	    <p class="slideshow-light-text">Оперативная полиграфия<br>Открытки, визитки, грамоты,<br>дипломы, поздравительные</p>
	</div>
	<picture>
	    <source type="image/webp" srcset="/slideshow/images/poligraph.webp"/>
	    <img src="/slideshow/images/poligraph.png"/>
	</picture>
    </div>

    <div class="mySlides fade">
	<div class="text-container">
	    <p class="slideshow-dark-text">Печать на футболках&nbsp;<br>Спортформе&nbsp;<br>Брендирование</p>
	    <p class="slideshow-light-text">Повышайте узнаваевость вашего бизнеса<br>Стойкие, яркие принты<br>Проверенные технологии печати</p>
	</div>
	<picture>
	    <source type="image/webp" srcset="/slideshow/images/futbolki.webp"/>
	    <img src="/slideshow/images/futbolki.png"/>
	</picture>
    </div>

    <!-- Next and previous buttons -->
    
    <div class="dot-container">
	<div class="nojs-prev" onclick="plusSlides(-1)"><a>&#10094;</a></div>
	<span class="dot" onclick="currentSlide(1)"></span>
	<span class="dot" onclick="currentSlide(2)"></span>
	<span class="dot" onclick="currentSlide(3)"></span>
	<span class="dot" onclick="currentSlide(4)"></span>
	<div class="nojs-next" onclick="plusSlides(1)"><a>&#10095;</a></div>
    </div>
    
</div>
<script>document.getElementsByClassName('slideshow-container')[0].style.display='block';</script>
{{ if .IsHome }}
<script src="/flickity.pkgd.min.js"></script>
<link rel="stylesheet" type="text/css" href="/flickity.css">

<script src="/slideshow/slideshow.js"></script>
<script src="/spoiler.js"></script>
{{ end }}



<br>

<!-- / SLIDESHOW -->


<div class="w3-row-padding benefits">
    <div class="benefit garantiya">
	<h3>Гарантия качества</h3>
	<p>Мы гарантируем отличное<br>качество нашей продукции</p>
    </div>
    
    <div class="benefit ceny">
	<h3>Отличные цены</h3>
	<p>Отличное соотношение<br>цены и качества</p>
    </div>
    
    <div class="benefit oplata">
	<h3>Удобная оплата</h3>
	<p>Наличная<br>и безналичная оплата</p>
    </div>
    
    <div class="benefit fifteenyears">
	<h3>Большой опыт работы</h3>
	<p>15 лет на региональном<br>рынке рекламы</p>
    </div>
</div>

<div style="padding: 0" class="additional-info-blocks-container w3-row-padding">
    <div class="additional-descr w3-third">
	<p class="lightgray" style="margin-top: 5px; font-family: 'CORBEL BOLD'">Дизайн-студия «Горизонт»<br>
	    предоставляет широкий спектр<br> 
	    услуг по изготовлению наружной<br>
	    и интерьерной рекламы, а также<br>
	    различной рекламной продукции,<br>
	    сувениров, наград
	</p>
	<p class="lightgray" style="margin-top: 5px;">
	    Качество,<br>
	    оперативность <br>
	    и доступные цены -<br>
	    ключевые качества<br>
	    нашей компании<br>
	</p>
    </div>

    <a href="service/index.html?index=4">
	<div id="naruzh" class="naruzh additional-info-block w3-twothird">
	    <h1>Наружная и внутренная<br>реклама</h1>
	    <h3 class="moreinfo">Узнать больше</h3>
	</div>
    </a>
</div>


<div style="padding: 0" class="w3-row-padding">
    <a href="service/index.html?index=2">    
	<div class="lazer additional-info-block w3-third">
	    <h1>Лазерная резка<br>и гравировка</h1>
	    <h3 class="moreinfo">Узнать больше</h3>
	</div>
    </a>

    <a href="service/index.html?index=3">
	<div class="suveniry additional-info-block w3-third">
	    <h1>Сувениры,<br>подарки, награды</h1>
	    <h3 class="moreinfo">Узнать больше</h3>
	</div>
    </a>

    <a href="service/index.html?index=1">
	<div class="shirokoform additional-info-block w3-third">
	    <h1>Широкоформатная<br>печать</h1>
	    <h3 class="moreinfo">Узнать больше</h3>
	</div>
    </a>
    
</div>

<div style="padding: 0;padding-bottom: 15px;" class="w3-row-padding">

    <a href="service/index.html?index=5">
	<div class="brendir additional-info-block w3-third">
	    <h1>Брендирование<br>одежды</h1>
	    <h3 class="moreinfo">Узнать больше</h3>
	</div>
    </a>

    <a href="service/index.html?index=7">
	<div class="shevrony additional-info-block w3-third">
	    <h1>Шевроны, патчи,<br>нашивки</h1>
	    <h3 class="moreinfo">Узнать больше</h3>
	</div>
    </a>

    <a href="service/index.html?index=8">
	<div class="poligrafiya w3-third additional-info-block">
	    <h1>Полиграфия</h1>
	    <h3 class="moreinfo">Узнать больше</h3>
	</div>
    </a>
</div>

<div class="ourclients">
    <h1>Наши клиенты</h1>
    <a onclick="toggle_expand()" class="w3-btn showmore">Показать еще</a>
    <div class="clients-logos">
	<picture>
	    <source type="image/webp" srcset="/ourclients/obl.webp">
	    <img title="Акимат Алматинской области" alt="Акимат Алматинской области" src="/ourclients/obl.png"/>
	</picture>
	<picture>
	    <source type="image/webp" srcset="/ourclients/taldykorgan.webp">
	    <img title="Акимат города Талдыкорган" alt="Акимат города Талдыкорган" src="/ourclients/taldykorgan.png"/>
	</picture>
	<picture>
	    <source type="image/webp" srcset="/ourclients/oblsport.webp">
	    <img title="Управление физкультуры и спорта Алматинской области" alt="Управление физкультуры и спорта Алматинской области" src="/ourclients/oblsport.png"/>
	</picture>
	<picture>
	    <source type="image/webp" srcset="/ourclients/halyk.webp">
	    <img title="Народный Банк Казахстана" alt="Народный Банк Казахстана" style="width: 145px" src="/ourclients/halyk.png"/>
	</picture>
	<picture>
	    <source type="image/webp" srcset="/ourclients/mchs.webp">
	    <img title="Департамент по ЧС Алматинской области" alt="Департамент по ЧС Алматинской области" src="/ourclients/mchs.png"/>
	</picture>
	<picture>
	    <source type="image/webp" srcset="/ourclients/center-krovi.webp">
	    <img title="Областной центр крови" alt="Областной центр крови" src="/ourclients/center-krovi.png"/>
	</picture>
	<picture>
	    <source type="image/webp" srcset="/ourclients/3-kita.webp">
	    <img title="Магазин сантехники «Три Кита»" alt="Магазин сантехники «Три Кита»" src="/ourclients/3-kita.png"/>
	</picture>
	<picture>
	    <source type="image/webp" srcset="/ourclients/azhar.webp">
	    <img title="ТОО «ТФ Ажар» Швейная фабрика" alt="ТОО «ТФ Ажар» Швейная фабрика" src="/ourclients/azhar.png"/>
	</picture>
	<picture>
	    <source type="image/webp" srcset="/ourclients/colledzh.webp">
	    <img title="Талдыкорганский гуманитарно-технологический колледж" alt="Талдыкорганский гуманитарно-технологический колледж" src="/ourclients/colledzh.png"/>
	</picture>
    </div>
</div>

<div class="about">
    <h1>О компании</h1>
    <div>
	<div>
	    <p class="lightgray">Дизайн-студия «Горизонт»  оказывает услуги по изготовлению наружной
		и интерьерной рекламы, полиграфической, сувенирной и другой рекламной продукции.
		Наша компания была основана в 2007 году. С момента основания компания непрерывно развивается,
		наращивая производственные мощности и расширяя сферу деятельности.
	    </p>

	    <p style="margin-top: 15px;" class="lightgray">Мы любим свое дело и гордимся качеством наших работ.</p>
	</div>
	<ul class="benefits-list">
	    <li>Наши преимущества:</li>
	    <li>14 лет положительного опыта.</li>
	    <li>Собственная производственная база.</li>
	    <li>Талантливый коллектив.</li>
	    <li>Современное и надежное оборудование.</li>
	    <li>За годы работы нам удалось наладить многопрофильное
		рекламное производство, зарекомендовать себя надежными
		партнерами и заслужить доверие клиентов.</li>
	</ul>
    </div>
</div>
{{ end }}
