{{ define "main" }}
<h1 class="title">{{ .Site.Title }}</h1>
<a>
  {{ .Content }}
</a>

<!-- SLIDESHOW -->
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div style="display: block; background-image: url('../slideshow/images/ciferblat.png')" class="mySlides fade">

    <div class="text-container">
      <p class="slideshow-dark-text">Изготовление сувенирной, наградной<br>и бизнес-продукции на заказ</p>
      <p class="slideshow-light-text">Медали, статуэтки, вымпелы<br>Сувениры, подарки, награды<br>Лазерная резка<br>Гравировка</p>
    </div>

    
  </div>

  <div style="background-image: url('../slideshow/images/naruzh.png')"  class="mySlides fade">

    <div class="text-container">
      <p class="slideshow-dark-text">Наружняя и<br>интерьерная реклама<br>Широкоформатная печать</p>
      <p class="slideshow-light-text">Изготовление стендов, табличек, баннеров<br>Печать на оракале, виниле, фотобумаге<br>Распечатка чертежей, схем</p>
    </div>

  </div>

  <div style="background-image: url('../slideshow/images/poligraph.png')" class="mySlides fade">
    <div class="text-container">
      <p class="slideshow-dark-text">Полиграфическая<br>продукция<br>Оперативная полиграфия</p>
      <p class="slideshow-light-text">Открытки, визитки, грамоты,<br>дипломы, поздравительные</p>
    </div>
  </div>

  <div style="background-image: url('../slideshow/images/futbolki.png')" class="mySlides fade">
    <div class="text-container">
      <p class="slideshow-dark-text">Печать на футболках<br>Спортформе<br>Брендирование</p>
      <p class="slideshow-light-text">Повышайте узнаваевость вашего бизнеса<br>Стойкие, яркие принты<br>Проверенные технологии печати</p>
    </div>
  </div>

  <!-- Next and previous buttons -->
  <div class="prev" onclick="plusSlides(-1)"><a>&#10094;</a></div>
  <div class="next" onclick="plusSlides(1)"><a>&#10095;</a></div>
  
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>
  
</div>
<br>

<!-- The dots/circles -->
<!-- <div style="text-align:center"> -->
<!--   <span class="dot" onclick="currentSlide(1)"></span> -->
<!--   <span class="dot" onclick="currentSlide(2)"></span> -->
<!--   <span class="dot" onclick="currentSlide(3)"></span> -->
<!--   <span class="dot" onclick="currentSlide(4)"></span> -->
<!-- </div> -->
<!-- / SLIDESHOW -->


<div class="w3-row-padding benefits">
  <div style="background-image: url('../icons/benefits/garantiya.png')" class="benefit w3-quarter">
    <h3>Гарантия качества</h3>
    <p>Мы гарантируем отличное<br>качество нашей продукции</p>
  </div>
  
  <div style="background-image: url('../icons/benefits/ceny.png')" class="benefit w3-quarter">
    <h3>Отличные цены</h3>
    <p>Отличное соотношение<br>цены и качества</p>
  </div>
  
  <div style="background-image: url('../icons/benefits/oplata.png')" class="benefit w3-quarter">
    <h3>Удобная оплата</h3>
    <p>Наличная<br>и безналичная оплата</p>
  </div>
  
  <div style="background-image: url('../icons/benefits/15let.png')" class="benefit w3-quarter">
    <h3>Большой опыт работы</h3>
    <p>15 лет на региональном<br>рынке рекламы</p>
  </div>
</div>

<div style="padding: 0" class="w3-row-padding">
  <div style="text-align: right" class="w3-third">
    <p class="lightgray" style="margin-top: 5px; font-family: 'CORBEL BOLD'">Дизайн-студия «Горизонт»<br>
      предоставляет широкий спектр<br> 
      услуг по изготовлению наружной<br>
      и интерьерной рекламы, а также<br>
      различной рекламной продукции,<br>
      сувениров, наград
      </p>
    <p class="lightgray" style="margin-top: 5px;">
      Качество,<br>
      оперативность <br>
      и доступные цены -<br>
      ключевые качества<br>
      нашей компании<br>
    </p>
  </div>

  <div class="additional-info-block w3-twothird" style="border-right: none; background-image: url('../icons/additional-info/naruzhnaya-reklama.png')">
    <h3>Наружная и внутренняя<br>реклама</h3>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>
</div>


<div style="padding: 0" class="w3-row-padding">
  
  <div style="border-left: none; background-image: url('../icons/additional-info/lazernaya-rezka.png')" class="additional-info-block w3-third">
    <h3>Лазерная резка<br>и гравировка</h3>
    
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>
  
  <div style="background-image: url('../icons/additional-info/suveniry.png')" class="additional-info-block w3-third">
    <h3>Сувениры,<br>подарки, награды</h3>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>

  <div style="border-right: none; background-image: url('../icons/additional-info/shirokoformatnaya.png')" class="additional-info-block w3-third">
    <h3>Широкоформатная<br>печать</h3>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>

</div>

<div style="padding: 0;padding-bottom: 15px;" class="w3-row-padding">

  <div style="border-left: none; background-image: url('../icons/additional-info/brendirovanie.png')" class="additional-info-block w3-third">
    <h3>Брендирование<br>одежды</h3>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>

  
  <div style="background-image: url('../icons/additional-info/shevrony.png')" class="additional-info-block w3-third">
    <h3>Шевроны, патчи,<br>нашивки</h3>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>

  <div style="border-right: none; background-image: url('../icons/additional-info/poligrafiya.png')" class="w3-third additional-info-block">
    <h3>Полиграфия</h3>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>
</div>
</div>
<div class="ourclients">
  <h1>Наши клиенты</h1>
</div>

<div class="about">
  <h1>О компании</h1>
  <div class="w3-half">
    <p class="lightgray">Дизайн-студия «Горизонт»  оказывает услуги по изготовлению наружной и интерьерной рекламы, полиграфической, сувенирной и другой рекламной продукции. Наша компания была основана в 2007 году. С момента основания компания непрерывно развивается, наращивая производственные мощности и расширяя сферу деятельности.
    </p>

    <p style="margin-top: 15px;" class="lightgray">Мы любим свое дело и гордимся качеством наших работ.</p>
  </div>
  <div class="w3-half">
    
    <ul>
      <li style="list-style-type: none; font-family: 'CORBEL BOLD'; margin-bottom: 3px;">Наши преимущества:</li>
      <li>14 лет положительного опыта.</li>
      <li>Собственная производственная база.</li>
      <li>Талантливый коллектив.</li>
      <li>Современное и надежное оборудование.</li>
      <li>За годы работы нам удалось наладить многопрофильное
	рекламное производство, зарекомендовать себя надежными
	партнерами и заслужить доверие клиентов.</li>
    </ul>
  </div>
</div>

<script src="/slideshow/slideshow.js"></script>
{{ end }}
