{{ define "main" }}
<h1 class="title">{{ .Site.Title }}</h1>
<a>
  {{ .Content }}
</a>

<div class="w3-row-padding benefits">
  <div style="background-image: url('../icons/benefits/garantiya.png')" class="benefit w3-quarter">
    <h3>Гарантия качества</h3>
    <p>Мы гарантируем отличное качество нашей продукции</p>
  </div>
  
  <div style="background-image: url('../icons/benefits/ceny.png')" class="benefit w3-quarter">
    <h3>Отличные цены</h3>
    <p>Отличное соотношение цены и качества</p>
  </div>
  
  <div style="background-image: url('../icons/benefits/oplata.png')" class="benefit w3-quarter">
    <h3>Удобная оплата</h3>
    <p>Наличная и безналичная оплата</p>
  </div>
  
  <div style="background-image: url('../icons/benefits/15let.png')" class="benefit w3-quarter">
    <h3>Большой опыт работы</h3>
    <p>15 лет на региональном рынке рекламы</p>
  </div>
</div>

<div class="w3-row-padding">
  <div style="text-align: right" class="w3-third">
    <p style="margin-top: 5px;">Дизайн-студия «Горизонт»
      предоставляет широкий спектр 
      услуг по изготовлению наружной 
      и интерьерной рекламы, а также 
      различной рекламной продукции,
      сувениров, наград
      </p>
    <p style="color:grey; margin-top: 5px;">
      Качество, 
      оперативность 
      и доступные цены - 
      ключевые качества 
      нашей компании
    </p>
  </div>

  <div class="additional-info-block w3-twothird" style="background-image: url('../icons/additional-info/naruzhnaya-reklama.png')">
    <h1>Наружная и внутренняя<br>реклама</h1>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>
</div>


<div class="w3-row-padding">
  
  <div style="background-image: url('../icons/additional-info/lazernaya-rezka.png')" class="additional-info-block w3-third">
    <h1>Лазерная резка<br>и гравировка</h1>
    
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>
  
  <div style="background-image: url('../icons/additional-info/suveniry.png')" class="additional-info-block w3-third">
    <h1>Сувениры,<br>подарки, награды</h1>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>

  <div style="background-image: url('../icons/additional-info/shirokoformatnaya.png')" class="additional-info-block w3-third">
    <h1>Широкоформатная<br>печать</h1>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>

</div>

<div class="w3-row-padding">

  <div style="background-image: url('../icons/additional-info/brendirovanie.png')" class="additional-info-block w3-third">
    <h1>Брендирование<br>одежды</h1>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>

  
  <div style="background-image: url('../icons/additional-info/shevrony.png')" class="additional-info-block w3-third">
    <h1>Шевроны, патчи,<br>нашивки</h1>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>

  <div style="background-image: url('../icons/additional-info/poligrafiya.png')" class="w3-third additional-info-block">
    <h1>Полиграфия</h1>
    <a class="moreinfo" href="http://google.com">Узнать больше</a>
  </div>
</div>
</div>
<div class="ourclients">
  <h3>Наши клиенты</h3>
</div>

<div class="about">
  <h3>О компании</h3>
  <div class="w3-half">
    <p>Дизайн-студия «Горизонт»  оказывает услуги по изготовлению наружной и интерьерной рекламы, полиграфической, сувенирной и другой рекламной продукции. Наша компания была основана в 2007 году. С момента основания компания непрерывно развивается, наращивая производственные мощности и расширяя сферу деятельности.
    </p>

    <p>Мы любим свое дело и гордимся качеством наших работ.
    </p>
  </div>
  <div class="w3-half">
    <p>Наши преимущества:</p>
      <ul>
	<li>14 лет положительного опыта.</li>
	<li>Собственная производственная база.</li>
	<li>Талантливый коллектив.</li>
	<li>Современное и надежное оборудование.</li>
	<li>За годы работы нам удалось наладить многопрофильное
	рекламное производство, зарекомендовать себя надежными
	партнерами и заслужить доверие клиентов.</li>
      </ul>
  </div>
</div>


{{ end }}
